// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  font-size: 15px;
}

body {
  font-family: $font-primary;
  font-size: 100%;
  color: $color-text;
  background: $color-bg;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: $link-transition;
  word-wrap: break-word;
  
  &:hover, 
  &:focus,
  &:visited:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  
  &:active {
    color: darken($link-hover-color, 10%);
  }
  
  &:visited {
    color: $link-color;
  }
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  margin: 0 auto;
}
