/**
 * Basic typography style for copy text
 */

h1, h2, h3, h4 {
  font-weight: $font-weight-default;
}

.font-size {
  
  &--xs {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
  
  &--sm {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  
  &--md {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }
  
  &--lg {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
  
  &--mlg {
    font-size: $font-size-mlg;
    line-height: $line-height-lg;
  }
  
  &--xl {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
}
