<div class="assets-table card">
  <div class="assets-table__row assets-table__row--head ">
    <div class="assets-table__col"><input type="checkbox" class="checkbox" data-check="all"></div>
    <div class="assets-table__col">Asset name</div>
    <div class="assets-table__col">Artist</div>
    <div class="assets-table__col">Updated</div>
    <div class="assets-table__col text-right">Actions</div>
  </div>
      
  {% for i in 0..2 %}
    {% include "_assets-table_row.twig" %}
  {% endfor %}
</div>

