<div class="result-item">
  <div class="result-item__header">
    <h4 class="result-item__title">Takedowns actioned</h4>
    <p class="result-item__subtitle color-text-lighten">Feedback Management</p>
  </div> 
  <div class="result-item__info-chart">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 38"><path d="M179.045 25.686L143.393 1l-35.651 36L72.09 25.686l-35.652 8.228-35.651-7.2" stroke="#1C95EA" stroke-width="1.5" fill="none" fill-rule="evenodd"/></svg>
  </div>
  
  <div class="text-right"> 
    <div class="result-item__counter font-size--xl">{{ random(9) }},{{ random(999) }}</div>
    <div class="color-success">{{ random(200) }},{{ random(99) }}%</div> 
  </div>
</div>
