<div class="results-box tabs--dropdown card" data-tab="tabs">
  <h3 class="results-box__header font-size--lg">Top Assets</h3>
  <button class="results-box__toggle-btn btn font-size--mlg" data-tab="toggle-btn">
    All activity
  </button>
  <div class="results-box__menu" data-tab="menu">
    <a href="#" data-tab="1" class="results-box__tab results-box__tab--active">All activity</a>
    <a href="#" data-tab="2" class="results-box__tab">Claims</a>
    <a href="#" data-tab="3" class="results-box__tab">Takedowns</a>
  </div>
  <div class="results-box__content-wrapper">
    <div data-content="1" class="results-box__content--active">
      {% for i in 0..2 %}
        {% include "_result-item.twig" %}
      {% endfor %}
    </div>
    <div data-content="2" class="">Any claims to show</div>
    <div data-content="3" class="">Any takedowns to show</div>
  </div>
</div>



