// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  background: none;
  transition: $btn-transition;
  cursor: pointer;
  position: relative;
  
  &:hover,
  &:active {
    text-decoration: none;
  }

 
}

// Buttons variants

.btn {

  &--default,
  &--primary {
    padding: $btn-padding-y $btn-padding-x;

    &:active {
      top: 1px;
    }
  }

  &--default {
    border: $btn-border-width solid $btn-default-border-color;
    background: $btn-default-bg;
    color: $btn-default-color;

    &:hover {
      color: darken($btn-default-color, 10%);
      box-shadow: inset 0px 0px 5px rgba($black, .1);
    }

    &:active {
      box-shadow: inset 0px 0px 5px rgba($black, .2);
    }
  }

  &--primary {
    border: $btn-border-width solid transparent;
    background: $btn-primary-bg;
    color: $btn-primary-color;
    //box-shadow: $btn-box-shadow;

    &:hover {
      box-shadow: inset 0px 0px 5px rgba($black, .3);
    }

    &:active {
      box-shadow: inset 0px 0px 5px rgba($black, .6);
    }

  }
  
  
}


// Icon button

.btn {
  &__icon {
    width: 1em;
    height: 1em;
  }
  
  &--icon {
    font-size: $btn-small-font-size;
    padding: .6rem .6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  
}
