.checkbox {
	position: relative;
	display: inline-block;
	margin: spacer(md);
	&:before {
		content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    cursor: pointer;
    @include absoluteCentering();
	}
}
