.container__table {
  max-width: 100%;
  overflow-y: auto;
  margin-bottom: spacer(lg);
  
  
  @media (pointer: coarse) and (hover: none){
    -webkit-overflow-scrolling: touch; 
  }
}

.assets-table {
    min-width: 70rem;
    margin-bottom: 0;
  
  &__row {
    display: -ms-grid;
    display: grid;
    align-items:center;
    padding: spacer(xs) 0;
    grid-template-columns: 5% 13% 30% 25% 15% 2% 8%;
    -ms-grid-columns:  5% 13% 30% 25% 15% 2% 8%;
    border-top: $border-width $border-style transparent;
    
    &--checked {
      background-color: rgba($color-primary, 0.15);
      border-top: $border-width $border-style $white;
    }
    
    &:not(:last-child) {
      border-bottom: $border-default;
    }
    
    &--head {
      padding: 0;
    }
    
    &--head  .assets-table__col {
      &:nth-child(1) {
        -ms-grid-column:1;
      }
      
      &:nth-child(2) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / span 2;
      }
      &:nth-child(3) {
        -ms-grid-column:4;
      }
      &:nth-child(4) {
        -ms-grid-column:5;
      }

      &:nth-child(5) {
        grid-column: span 2;
        -ms-grid-column:6;
        -ms-grid-column-span: 2;
      }

      &:nth-child(6) {
        -ms-grid-column:8;
      }

      &:nth-child(7) {

      }
    }
  }

  
  
  &__title {
    margin-bottom: spacer(xxs);
  }
}

.assets-table__col {
  &:nth-child(1) {
    -ms-grid-column:1;
  }
  &:nth-child(2) {
    padding-right:0 !important;
    min-width: 7.5rem;
    -ms-grid-column:2;
  }
  &:nth-child(3) {
    -ms-grid-column:3;
  }
  &:nth-child(4) {
    -ms-grid-column:4;
  }

  &:nth-child(5) {
    -ms-grid-column:5;
  }

  &:nth-child(6) {
    padding-right:0 !important;
    -ms-grid-column:6;
  }

  &:nth-child(7) {
    -ms-grid-column:7;
  }

  &:not(:last-child) {
    padding-right: spacer(lg);
  }
}
